<h3>Following</h3>
<%# search %>
<%= form_with url: user_friends_path, method: :get, class: "d-flex follow-search-bar" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Search"
  %>
  <%= submit_tag "Search", class: "follow-search-btn" %>
<% end %>
<%# end of search %>
<% @following.each do |followed| %>
  <div class="follow-profile-container">
    <div class="follow-profile">
      <div class="follow-profile-pic">
        <% if followed.photo.attached? %>
          <%= cl_image_tag followed.photo.key, width: 150, height: 150, crop: :thumb, gravity: :face, :class => 'follow-profile-pic' %>
          <% else %>
          <div class='follow-no-profile'>
          <i class="fa-solid fa-user"></i>
          </div>
        <% end %>
      </div>
        <%= link_to followed.name, user_path(followed), :class => 'follow-name' %>
    </div>
    <div>
      <% if user_signed_in? %>
        <% current_friend = Friend.find_by(follower_id: current_user.id, followee_id: followed.id) %>
        <% if @user.id == current_user.id %>
          <%= link_to 'Unfollow',
                      friend_path(current_friend),
                      data: {turbo_method: :delete}, :class => 'follow-unfollow-btn' %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
