<h2>My Profile</h2>

<h3><%= @user.name %></h3>
<% if current_user.id != @user.id %>
  <% if @current_user_friends_users.include?(@user.id) %>
      <%= link_to 'Unfollow',
          user_friend_path(@current_friend),
          data: {turbo_method: :delete}%>
    <% else %>
      <%= simple_form_for [@user, @friend] do |f| %>
      <%= f.submit 'Follow'%>
    <% end %>
  <% end %>
<% end %>

<h3>Follower</h3>
  <%= link_to @followers.count, user_followers_path(@user) %>
<br>
<h3>Following</h3>
  <%= link_to @following.count, user_friends_path(@user) %>
<br>
<% if @user.role === "owner" %>
  <%= link_to "My Restaurants", restaurants_path %>
<% else %>
<%= link_to "My Reviews", review_path %>
<% end %>
<h4>About</h4>
