<div class="profile-container" data-controller="add-profile-image">
  <div class="profile-top">
    <% if current_user.id != @user.id %>
      <div class="profile-image">
        <% if @user.photo.attached? %>
          <%= cl_image_tag @user.photo.key, width: 150, height: 150, crop: :thumb, gravity: :face, :class => 'profile-pic' %>
          <% else %>
          <div class='no-profile'>
          <i class="fa-solid fa-user"></i>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="profile-image" data-action="click->add-profile-image#show">
        <% if @user.photo.attached? %>
          <%= cl_image_tag @user.photo.key, width: 150, height: 150, crop: :thumb, gravity: :face, :class => 'profile-pic' %>
          <% else %>
          <div class='no-profile'>
          <i class="fa-solid fa-user"></i>
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="follow-container">
      <div class="follow-info">
        <h3 class="follow-title">Follower</h3>
        <div class="follow-count">
        <%= link_to @followers.count, user_followers_path(@user), :class => 'follow-count-text' %>
        </div>
      </div>
      <div class="follow-info">
        <h3 class="follow-title">Following</h3>
        <div class="follow-count">
        <%= link_to @following.count, user_friends_path(@user), :class => 'follow-count-text' %>
        </div>
      </div>
    </div>
  </div>
    <%# profile image form %>
    <div class="add-photo-form d-none" data-add-profile-image-target='form'>
      <%= simple_form_for(@user) do |f| %>
        <%= f.input :photo, as: :file %>
        <%= f.submit 'Add Image', :class => 'add-btn' %>
      <% end %>
    </div>
    <%# end of profile image form %>
</div>

<div class="profile-info">
  <h3 class='username'><%= @user.name %></h3>
  <h4 class='about'>About</h4>
  <div class="follow-btn-container">
    <div class="follow-btns">
      <% if current_user.id != @user.id %>
        <% if @current_user_friends_users.include?(@user.id) %>
            <%= link_to 'Unfollow',
                user_friend_path(@current_friend),
                data: {turbo_method: :delete}, :class => 'unfollow-btn'%>
          <% else %>
            <%= simple_form_for [@user, @friend] do |f| %>
            <%= f.submit 'Follow', :class => 'follow-btn' %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="role-btn">
      <% if @user.role === "owner" %>
        <%= link_to "My Restaurants", restaurants_path, :class => 'unfollow-btn' %>
      <% else %>
        <%= link_to "My Reviews", review_path, :class => 'unfollow-btn' %>
      <% end %>
    </div>
  </div>
</div>
