<div class="navbar fixed-bottom">
  <div class="container-fluid d-flex justify-content-around">
      <%# All Restaurants Link %>
      <div class="nav-item d-flex flex-column justify-content-center align-items-center">
        <%= link_to restaurants_path do %>
          <div class="nav-item-icon flex-grow-1">
            <i class="fa-solid fa-utensils"></i>
          </div>
          <div class="nav-item-text mb-1">
            All
          </div>
        <% end %>
      </div>
      <%# Search Link %>
      <div class="nav-item d-flex flex-column justify-content-center align-items-center">
        <%= link_to restaurants_path do %>
          <div class="nav-item-icon flex-grow-1">
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
          <div class="nav-item-text mb-1">
            Search
          </div>
        <% end %>
      </div>
      <%# Home Link %>
      <div class="nav-item d-flex flex-column justify-content-center align-items-center">
        <%= link_to root_path, class: "home-btn" do %>
          <div class="nav-item-icon flex-grow-1">
            <img src="https://res.cloudinary.com/heefang/image/upload/v1661357606/yum_icon_white_xa7lyn.png">
          </div>
        <% end %>
      </div>
      <%# Favourites Link %>
      <div class="nav-item d-flex flex-column justify-content-center align-items-center">
        <%= link_to user_favourites_path(current_user) do %>
          <div class="nav-item-icon flex-grow-1">
            <i class="fa-solid fa-heart"></i>
          </div>
          <div class="nav-item-text mb-1">
            Likes
          </div>
        <% end %>
      </div>
      <%# Profile Link %>
      <div class="nav-item d-flex flex-column justify-content-center align-items-center">
        <%= link_to user_path(current_user) do %>
          <div class="nav-item-icon flex-grow-1">
            <i class="fa-solid fa-user" id="nav-user"></i>
          </div>
          <div class="nav-item-text mb-1">
            Profile
          </div>
        <% end %>
      </div>
  </div>
</div>
