<h3>Followers</h3>
<%# search %>
<%= form_with url: user_followers_path, method: :get, class: "d-flex follow-search-bar" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Search"
  %>
  <%= submit_tag "Search", class: "follow-search-btn" %>
<% end %>
<%# end of search %>
<% @followers.each do |follower| %>
  <div class="follow-profile-container">
    <div class="follow-profile">
      <div class="follow-profile-pic">
        <% if follower.photo.attached? %>
          <%= cl_image_tag follower.photo.key, width: 50, height: 50, crop: :thumb, gravity: :face, :class => 'follow-profile-pic' %>
          <% else %>
          <div class='follow-no-profile'>
          <i class="fa-solid fa-user"></i>
          </div>
        <% end %>
      </div>
      <%= link_to follower.name, user_path(follower), :class => 'follow-name' %>
    </div>
    <div>
      <% if current_user.followee_relationships.find_by(followee_id: follower.id) != nil %>
      <% current_friend = Friend.find_by(follower_id: current_user.id, followee_id: follower.id) %>
      <%= link_to 'Unfollow',
                  friend_path(current_friend),
                  data: {turbo_method: :delete}, :class => 'follow-unfollow-btn' %>
      <% end %>
    </div>
  </div>
<% end %>
