<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel"><%= restaurant.name %></h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="home-restaurant-details">
                      <h6>Rating:</h6>
                          <% ratings = [] %>

                          <% restaurant.reviews.each do |review| %>
                            <% ratings << review.rating %>
                          <% end %>

                          <% if ratings.count.positive? %>
                            <% avg_rating = (ratings.sum / ratings.count).round(1) %>
                            <div class="home-rating-details">
                              <p class="home-rating"><%= avg_rating %></p>
                              <div class="flex gap-x-3 mb-4 home-stars">
                                  <% Review::MAX_RATING.times do |n| %>
                                    <%= inline_svg_tag("star.svg",
                                      class: "review-star w-8 h-8 #{star_rating_class(avg_rating, n)}") %>
                                  <% end %>
                              </div>
                            </div>
                          <% else %>
                            <p class="home-modal-details"><%= "No ratings yet" %></p>
                          <% end %>
                      <h6>Cuisine:</h6>
                      <p class="home-modal-details"><%= restaurant.cuisine %></p>
                      <h6>Description: </h6>
                      <p class="home-modal-details"><%= restaurant.description %></p>
                      <h6>Location: </h6>
                      <p class="home-modal-details"><%= restaurant.address %></p>
                    </div>
                    <%= link_to 'View More', restaurant_path(restaurant), :class => 'home-view-btn' %>
                  </div>
                  <%# <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div> %>
                </div>
              </div>
            </div>
