<div class="card-category">
  <h1>Restaurants</h1>
  <%# <ol> %>
  <div class="content">
    <% @restaurants.each do |restaurant| %>
      <div class="cards">
        <% if restaurant.photo.attached? %>
          <%= cl_image_tag restaurant.photo.key, :class => "image-show" %>
          <li><b><%= link_to restaurant.name, restaurant_path(restaurant)  %></b> | <%= restaurant.cuisine %><p><%= restaurant.description %><br><%= link_to "Find out more!", restaurant_path(restaurant) %></p></li>
        <% else %>
          <%= "" %>
        <% end %>
      </div>
    <% end %>
  </div>
  <%# </ol> %>
</div>
