<h1>List of suggested restaurants</h1>
<ol>
<% @restaurants.each do |restaurant| %>
  <li> <b><%= restaurant.name %></b> | <%= restaurant.cuisine %><p><%= restaurant.description %><br><%= link_to "Details", restaurant_path(restaurant) %></p></li>
  <% if restaurant.photo.attached? %>
    <%= cl_image_tag restaurant.photo.key, height: 300, width: 700, crop: :scale %>
  <% else %>
    <%= "" %>
  <% end %>
<% end %>
</ol>
