<div class="card-category">
  <% if @restaurant.photo.attached? %>
    <%= cl_image_tag @restaurant.photo.key, :class => "image-show" %>
  <% else %>
    <div class="no-image">
      <h2>No Image</h2>
    </div>
  <% end %>
  <div class="restaurant-infos">
    <div>
      <div class="restaurant-details">
        <div class="restaurant-title-block d-flex justify-content-between">
          <div class="restaurant-title mt-3"><h1><%= @restaurant.name %></h1></div>
          <%# Show Bookmark buttons if user is signed in %>
          <% if user_signed_in? %>
            <div class="bookmark">
              <% if @restaurant.favourites.find_by(user_id: current_user.id) == nil %>
                <%= render "favourites/form", favourite: @favourite %>
              <% else %>
                <div class="delete-button mt-3">
                  <%= link_to icon('fa-solid', 'heart'), favourite_path(@favourite),
                  data: {turbo_method: :delete} %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
        <% if @avg_rating == "No ratings yet" %>
          <h6><b><%= @avg_rating %></b></h6>
        <% else %>
          <div class="card-rating"><h6><b>Rating: </b><%= @avg_rating %> &nbsp</h6>
            <div class="flex gap-x-1 mb-2">
                <% Review::MAX_RATING.times do |n| %>
                  <%# <%= <i class="fa-light fa-star #{star_rating_class(@avg_rating, n)}"></i> %>
                  <%= inline_svg_tag("star.svg",
                    class: "review-star w-8 h-8 #{star_rating_class(@avg_rating, n)}") %>
                <% end %>
            </div>
        <% end %>
            </div>
        <h6>Cuisine:</h6>
        <p><%= @restaurant.cuisine %></p>
        <h6>Description: </h6>
        <p><%= @restaurant.description %></p>
        <h6>Location: </h6>
        <p><%= @restaurant.address %></p>
      </div>

      <div style="width: 100%; height: 600px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

      <div class="review-container">
        <% if user_signed_in? %>
          <div class="review"><h3><b>Reviews</b></h3>
            <% if @reviews.count < 1 %>
              <p>No reviews yet</p>
            <% else %>
              <% @reviews.each do |review| %>
                <div class="reviewer">
                  <% user = review.user %>
                  <%= link_to user_path(user), :action => 'go' do %>
                  <div class="review-avatar">
                    <div class="profile-image" data-action="click->add-profile-image#show">
                      <% if user.photo.attached? %>
                        <%= cl_image_tag user.photo.key, width: 50, height: 50, crop: :thumb, gravity: :face, :class => 'review-profile-pic' %>
                        <% else %>
                        <div class='review-no-profile'>
                        <i class="fa-solid fa-user"></i>
                        </div>
                      <% end %>
                    </div>
                    <h5><%= review.user.name %></h5>
                  </div>
                  <% end %>
                  <div class="description">
                    <h5><b>Rating: </b><%= review.rating %>
                    <br><%= review.comment %></h5>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
          <% else %>
            <span><p><%= link_to "Sign in", new_user_session_path %> to view reviews.</p></span>
          <% end %>
      </div>
      <div class="restaurant-edit">
        <% if user_signed_in? && current_user.role == 'owner' %>
          <p><%= link_to "Edit Restaurant", edit_restaurant_path(@restaurant) %>
          | <%= link_to "Delete",
            restaurant_path(@restaurant),
            data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
          %></p>
        <% elsif user_signed_in? %>
          <button type="button" class="follow-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Add a review
          </button>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%# review form %>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Review</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@restaurant, @review] do |f| %>
          <%= f.input :comment, input_html: { class: "review-comment-style" } %>
          <%= f.input :rating, collection: [['Terrible', 1], ['Bad', 2], ['Neutral', 3], ['Good', 4], ['Awesome', 5]], label: "Rate your experience", input_html: {data: {controller: "star-rating"}} %>
          <%= f.submit %>
        <% end %>
      </div>
      <%# <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> %>
    </div>
  </div>
</div>
