<div class="card-category">
  <%= cl_image_tag @restaurant.photo.key, :class => "image-show" %>
  <div class="restaurant-infos">
    <div>
      <div class="restaurant-details">
        <h1><b><%= @restaurant.name %></b></h1>
        <h6>Cuisine:</h6>
        <p><%= @restaurant.cuisine %></p>
        <h6>Description: </h6>
        <p><%= @restaurant.description %></p>
        <h6>Location: </h6>
        <p><%= @restaurant.address %></p>
      </div>
      <div class="review-container">
        <div class="review"><h3><b>Reviews</b></h3>
          <% @reviews.each do |review| %>
            <div class="reviewer">
              <div class="review-avatar">
                <p><b>"Avatar Icon"</b><br> <%# insert avator code here #%>
                <%= review.user.name %></p>
              </div>
              <div class="description">
                <p><b>Rating: </b><%= review.rating %>
                <br><%= review.comment %></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="restaurant-edit">
        <% if current_user.role === 'owner' %>
          <p><%= link_to "Edit Restaurant", edit_restaurant_path(@restaurant) %>
          | <%= link_to "Delete",
            restaurant_path(@restaurant),
            data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
          %></p>
        <% else %>
          <%= link_to "Add a Review", new_restaurant_review_path(@restaurant) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
