<h6>New Review</h6>
<p>Restaurant Name: <%= @restaurant.name %></p>
<p>User Name: <%= current_user.name %></p>
<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :comment %>
  <%= f.input :rating %>
  <%= f.submit %>
<% end %>
