<!DOCTYPE html>
<html>
  <head>
    <title>Yums App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "/javascript/application.js", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <nav class="navbar justify-content-start">
      <a class="navbar-brand mx-3" href="/"><img src="https://res.cloudinary.com/heefang/image/upload/v1661357606/yum_icon_white_xa7lyn.png" alt="YUMS.SG"></a>
      <%# <a class="navbar-brand mx-3" href="/"><i class="fa-solid fa-utensils"></i></a> %>
      <a class="nav-link mx-2" href="/restaurants">All Restaurants</a>
      <a class="nav-link mx-2" href="/restaurants/new">Add Restaurant</a>
      <% if current_user %>
        <%= link_to "My Profile", user_path(current_user), :class => 'nav-link mx-2'%>
        <%= button_to("Sign Out", destroy_user_session_path, method: :delete, :class => 'nav-link mx-2') %>
      <% else %>
        <%= link_to "Sign in", new_user_session_path, :class => 'nav-link mx-2'%>
      <% end %>
    </nav>
    <%# flash messages %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%# end of flash messages %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
