<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    </head>

  <body>
    <%= render "shared/topnav" %>
    <%= render "shared/navbar" %>
    <%# flash messages %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%# end of flash messages %>
    <div class="container">
      <%= yield %>
    </div>
    <%# <script src="https://hammerjs.github.io/dist/hammer.js"></script> %>
  </body>

  <link href="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css" rel="stylesheet">
  <script src="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js"></script>

</html>
